{
  "plugins": [
    "transform-object-rest-spread",
    "dynamic-import-webpack",
    "syntax-dynamic-import"
  ],
  "presets": [
    ["env", {
      "targets": [
        "last 2 versions", "safari >= 7", "not ie < 9"
      ]
    }]
  ]
}
