language: node_js
node_js:
  - "0.12"


install:
  - npm install

script:
  - ./node_modules/.bin/gulp ci:js
  - ./node_modules/.bin/gulp ci:sass
  - ./node_modules/.bin/gulp ci:pug

cache:
  directories:
    - node_modules
