doctype html
html(lang='en')
  head
    title Frontend Bootstrap!
    meta(charset='UTF-8')
    meta(name='viewport'
      content='width=device-width, initial-scale=1')
  body(ng-app='app-bootstrap' ng-strict-di)
    i.fa.fa-heart(aria-hidden='true')
    div(ng-view)
    // inject:js
    // endinject
