doctype html
html(lang='en')
  head
    title title here
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet' href='styles.index.css')
  body
    #app(v-cloak)
      .center
        h1
          | {{ title }}
        example
    script(src='./index.js')
