module.exports = {
  GOOGLE_ANALYTICS_TRACK_ID: 'UA-XXXXX-Y'
  MY_CONFIG_KEY_1: 'MY_CONFIG_KEY_VALUE_1'
  MY_CONFIG_KEY_2: 'MY_CONFIG_KEY_VALUE_2'
  MY_CONFIG_KEY_3: 'MY_CONFIG_KEY_VALUE_3'
  MY_CONFIG_KEY_4: 'MY_CONFIG_KEY_VALUE_4'
  MY_CONFIG_KEY_5: 'MY_CONFIG_KEY_VALUE_5'
}

To refer this variables in your js code you can follow this pattern:
const configKey = '/* @echo API_URL */'
