module.exports = {
  development: {
    MY_CONFIG_KEY_1: 'MY_CONFIG_KEY_VALUE_1',
    MY_CONFIG_KEY_2: 'MY_CONFIG_KEY_VALUE_2',
    MY_CONFIG_KEY_3: 'MY_CONFIG_KEY_VALUE_3',
    MY_CONFIG_KEY_4: 'MY_CONFIG_KEY_VALUE_4',
    MY_CONFIG_KEY_5: 'MY_CONFIG_KEY_VALUE_5'
  },
  staging: {
    MY_CONFIG_KEY_1: 'MY_CONFIG_KEY_VALUE_1',
    MY_CONFIG_KEY_2: 'MY_CONFIG_KEY_VALUE_2',
    MY_CONFIG_KEY_3: 'MY_CONFIG_KEY_VALUE_3',
    MY_CONFIG_KEY_4: 'MY_CONFIG_KEY_VALUE_4',
    MY_CONFIG_KEY_5: 'MY_CONFIG_KEY_VALUE_5'
  },
  production: {
    MY_CONFIG_KEY_1: 'MY_CONFIG_KEY_VALUE_1',
    MY_CONFIG_KEY_2: 'MY_CONFIG_KEY_VALUE_2',
    MY_CONFIG_KEY_3: 'MY_CONFIG_KEY_VALUE_3',
    MY_CONFIG_KEY_4: 'MY_CONFIG_KEY_VALUE_4',
    MY_CONFIG_KEY_5: 'MY_CONFIG_KEY_VALUE_5'
  }
};

// To refer this variables in your js code use this pattern:
// const configKey = '/* @echo API_URL */'
