doctype html
html(lang='en')
  head
    title title here
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='preload' href='contacts.js' as='script')
    link(rel='preload' href='/vendor.js' as='script')
    link(rel='preload' href='styles.contacts.css' as='style')
    link(rel='stylesheet' href='styles.contacts.css')
    script(src='/vendor.js')
  body
    #app(v-cloak)
      .center
        h1
          | contacts is working!
    script(src='contacts.js')
