{
  "env": {                           // http://eslint.org/docs/user-guide/configuring.html#specifying-environments
    "browser": true,
    "es6": true
  },
  "globals": {
    "angular": true,
    "_": true
  },
  "extends": "angular",
  "rules": {
    "arrow-body-style": 0,                                        // http://eslint.org/docs/rules/arrow-body-style
    "arrow-parens": [2, "always"],                                // http://eslint.org/docs/rules/arrow-parens
    "arrow-spacing": [2, { "before": true, "after": true }],      // http://eslint.org/docs/rules/arrow-spacing
    "constructor-super": 2,                                       // http://eslint.org/docs/rules/constructor-super
    "func-style": [2, "expression"],                              // http://eslint.org/docs/rules/func-style
    "generator-star-spacing": [2, "before"],                      // http://eslint.org/docs/rules/generator-star-spacing
    "no-class-assign": 2,                                         // http://eslint.org/docs/rules/no-class-assign
    "no-const-assign": 2,                                         // http://eslint.org/docs/rules/no-const-assign
    "no-dupe-class-members": 2,                                   // http://eslint.org/docs/rules/no-dupe-class-members
    "no-restricted-imports": 0,                                   // http://eslint.org/docs/rules/no-restricted-imports
    "no-this-before-super": 2,                                    // http://eslint.org/docs/rules/no-this-before-super
    "no-var": 2,                                                  // http://eslint.org/docs/rules/no-var
    "object-shorthand": 2,                                        // http://eslint.org/docs/rules/object-shorthand
    "prefer-arrow-callback": 0,                                   // http://eslint.org/docs/rules/prefer-arrow-callback
    "prefer-const": 2,                                            // http://eslint.org/docs/rules/prefer-const
    "prefer-reflect": 0,                                          // http://eslint.org/docs/rules/prefer-reflect
    "prefer-rest-params": 0,                                      // http://eslint.org/docs/rules/prefer-rest-params
    "prefer-spread": 2,                                           // http://eslint.org/docs/rules/prefer-spread
    "prefer-template": 2,                                         // http://eslint.org/docs/rules/prefer-template
    "require-yield": 0,                                           // http://eslint.org/docs/rules/require-yield

    "angular/controller-as-vm": 0,                                // https://github.com/Gillespie59/eslint-plugin-angular/blob/master/docs/controller-as-vm.md
    "angular/deferred": 0,                                        // https://github.com/Gillespie59/eslint-plugin-angular/blob/master/docs/deferred.md
    "angular/di": [2,"array"],                                    // https://github.com/Gillespie59/eslint-plugin-angular/blob/master/docs/di.md
    "angular/di-order": 0,                                        // https://github.com/Gillespie59/eslint-plugin-angular/blob/master/docs/di-order.md
    "angular/di-unused": 2,                                       // https://github.com/Gillespie59/eslint-plugin-angular/blob/master/docs/di-unused.md
    "angular/document-service": 0,                                // https://github.com/Gillespie59/eslint-plugin-angular/blob/master/docs/document-service.md
    "angular/function-type": [2,"anonymous"],                     // https://github.com/Gillespie59/eslint-plugin-angular/blob/master/docs/function-type.md
    "angular/interval-service": 2,                                // https://github.com/Gillespie59/eslint-plugin-angular/blob/master/docs/interval-service.md
    "angular/json-functions": 2,                                  // https://github.com/Gillespie59/eslint-plugin-angular/blob/master/docs/json-functions.md
    "angular/log": 0,                                             // https://github.com/Gillespie59/eslint-plugin-angular/blob/master/docs/log.md
    "angular/module-getter": 2,                                   // https://github.com/Gillespie59/eslint-plugin-angular/blob/master/docs/module-getter.md
    "angular/module-setter": 2,                                   // https://github.com/Gillespie59/eslint-plugin-angular/blob/master/docs/module-setter.md
    "angular/no-private-call": [2, { "allow": ["$$hashKey"] }],   // https://github.com/Gillespie59/eslint-plugin-angular/blob/master/docs/no-private-call.md
    "angular/no-service-method": 0,                               // https://github.com/Gillespie59/eslint-plugin-angular/blob/master/docs/no-service-method.md
    "angular/on-watch": 0,                                        // https://github.com/Gillespie59/eslint-plugin-angular/blob/master/docs/on-watch.md
    "angular/window-service": 0                                   // https://github.com/Gillespie59/eslint-plugin-angular/blob/master/docs/window-service.md
  }
}
