doctype html
html(lang='en')
  head
    title title here
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
  body
    #app
      .center
        h1
          | {{title}}
    script(src='./index.js')
