doctype html
html(lang='en')
  head
    title Frontend Bootstrap!
    meta(charset='UTF-8')
    meta(name='viewport'
      content='width=device-width, initial-scale=1')
    link(href='/css/vendor.css' rel='stylesheet')
    link(href='/css/application.css' rel='stylesheet')
    base(href='/')
  body(ng-app='app-bootstrap' ng-strict-di)
    i.fa.fa-heart(aria-hidden='true')
    div(ui-view='main')
    // inject:js
    // endinject
