doctype html
html(lang='en')
  head
    title title here
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(href='/css/vendor.css' rel='stylesheet')
    link(href='/css/application.css' rel='stylesheet')
  body
    .center
      h1 Frontend Bootstrap!
      i.fa.fa-heart(aria-hidden='true')
    // inject:js
    // endinject
