@import 'variables/colors';
@import 'base';
@import '../app/components/centered/component1/component1';
@import '../app/components/centered/component2/component2';
@import '../app/components/auth/auth';
