[v-cloak] { // stylelint-disable-line selector-max-attribute
  display: none;
}

body { // stylelint-disable-line selector-max-type
  background-image: url('../../assets/wolox_bg.png');
}

.center {
  background-color: $translucent-white;
  height: 100%;
  left: 20%;
  position: absolute;
  text-align: center;
  width: 60%;
}

h1 {  // stylelint-disable-line selector-max-type
  color: $wolox-green;
}

.class-to-be-purified {
  color: $translucent-white;
}
