.sarasa {
  background-color: $wolox-green;
}

.tu-vieja {
  background-color: $wolox-blue;
}

.giladita {
  background-color: red;
}

.sarasa:hover {
  background-color: yellow;
}

.uno {
  background-color: pink;
}

.dos {
  background-color: blue;
}

.hello {
  color: brown;
}